.App {
  width: 100%;
  height: 10vh;
  background-color: rgb(100, 74, 74);
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-contenedor {
  width: 100%;
  height: 30px;
  margin: 9px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.contenedor-principal{
  width: 600px;
  height: 600px;
  padding: 14px;
  background-color: #99c9ff;
  border-radius: 20px;
  border: 5px solid whitesmoke;
  display: column;
}